flask
flask-sqlalchemy
flask-migrate
flask-cors
flask-mail
python-dotenv
pyjwt
cryptography
requests
marshmallow
marshmallow-sqlalchemy
python-dateutil
uuid
mysql-connector-python
pymysql
pytz
dependency-injector
pytest
python-logging-json
